
@import '~bootstrap/scss/bootstrap.scss';


:root { 
    --class-warrior: #C69B6C;
    --class-hunter: #AAD372;
    --class-monk: #00FF98;
    --class-deathknight: #C41E3A;
    --class-paladin: #F48CBA;
    --class-priest: #fff;
    --class-mage: #3FC7EB;
    --class-warlock: #8788EE;
    --class-shaman: #0070DD;
    --class-rogue: #FFFF99;
    --class-evoker: #33937f;
    --class-druid: #FF7C0A;
}

.header {
    background-color: #ccc;
    height: 50px;
    padding: 5px;
    font-size:24pt;
    text-align: center;
}